* {
	font-family: 'Montserrat', sans-serif;
}

body {
	max-width: 80%;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 1.5rem;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5rem;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#start-container {
	display: none;
}

#question-container {
}

#score-container {
	display: none;
}

#view-scores {
	display: none;
}

h1 {
	margin-bottom: 1.5rem;
}

main button {
	margin-top: 1.5rem;
}

button {
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.75rem;
	background-color: blue;
	color: white;
}

button:hover {
	background-color: orange;
	cursor: pointer;
}
