* {
	font-family: 'Montserrat', sans-serif;
}

body {
	max-width: 80%;
	margin: auto;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5rem;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.choice {
	width: 15rem;
}

#high-scores-button {
	display: flex;
}

#question-container {
	display: none;
}

#score-container {
	display: none;
}

#high-scores-container {
	display: none;
}

h1,
h2 {
	margin-bottom: 2rem;
}

hr {
	margin: 3rem 0;
}

main button {
	margin-top: 2rem;
}

button {
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	background-color: blue;
	color: white;
}

button:hover {
	background-color: green;
	cursor: pointer;
}
